<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <title>Login Page</title>   
</head>

<body>
 
    <main>
        <section class="vh-100">
            <div class="container-fluid h-custom" >
                

                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 " style=" width: 50%; height: 100%; margin: 0;"  id="formregister">
                        <form>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="emailjs">Email ID</label>
                                <input type="email" id="emailjs" class="form-control form-control-lg"
                                    placeholder="Enter a valid email address" />
                            </div>

                            <!-- Username -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="userjs">Username</label>
                                <input type="username" id="userjs" class="form-control form-control-lg"
                                    placeholder="Enter username" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <label class="form-label" for="passjs">Password</label>
                                <input type="password" id="passjs" class="form-control form-control-lg"
                                    placeholder="Enter password" />
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="button" class="btn btn-primary btn-lg" id="add-device"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                        class="link-danger">Register</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center h-100" style="position: absolute; top: -30px; margin-left: 25%; width:100%; ">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                            class="img-fluid" alt="Sample image">
                        
                    </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary" >
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0 ">
                Copyright &copy; 2023. All rights reserved.
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>

</html>